[submodule "public"]
	path = public
	url = https://github.com/jovalle/jovalle.github.io
	branch = master

[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = git@github.com:luizdepra/hugo-coder
	branch = master
